body 
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

.posts-list-item .post-info-list .post-info-item a
  &:hover
    color $accentColor
    .icon
      fill $accentColor